@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
html,
body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #040d1a;
    color: white;
    font-size: 1.5vh;
    user-select: none;
}

h1{
    
 text-align: center;
}
#main {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    height: auto;
    width: 100%;
}

#board {
    padding: 0;
    margin: auto;
    width: 600px;
    height: 600px;
}
#options-group{
    display: flex;
}
.tile {
    height: 190px;
    width: 190px;
    line-height: 190px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid white;
    font-size: 40px;
    border-radius: 5px;
    cursor: pointer;
    float: left;
}

.button {
    height: 100px;
    width: 288px;
    line-height: 100px;
    vertical-align: middle;
    border: 1px solid white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    float: left;
}

.hidden{display:none; }
